@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



/********************************************************/
/*                    Estilos Header                    */
/********************************************************/

header {
    background-color: #34a14b;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;

}

.nav-container {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    background-color: #dae2d3;
    border-radius: 40%;
}

.logo img {
    max-width: 75px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;

}

.nav-links a:hover {
    color: #000;
    background-color: rgb(221, 218, 194);

}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}


/********************************************************/
/*                         Inicio                       */
/********************************************************/

/* Sección de inicio */
.Inicio {
    position: relative;
    background: url("../IMG/FONDO.jpeg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 60px 20px 20px;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    width: 100%;
}

.Inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contenido-inicio {
    position: relative;
    z-index: 2;
    font-family: 'roboto', sans-serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.contenido-inicio h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideIn 1s ease-out;
}

.contenido-inicio p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
    animation: fadeIn 1.5s ease-out;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 25px;
    background-color: #519e32;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #4a8e2d;
    transform: translateY(-5px);
}

/* Animaciones */
@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*************************************************************/
/* ***********************Seccion de Productos**********/
/*************************************************************/

.section-products {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.section-description {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #666;
}

.filter-bar {
    margin-bottom: 20px;
}

.filter-bar select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    width: 290px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 16px;
    text-align: center;
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin: 0 0 8px;
    line-height: 1.4;
}

.product-price {
    font-size: 1.1rem;
    color: #0f0f0f;
    font-weight: bold;
    margin: 0 0 12px;
}


.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    background-color: #34a14b;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    
}

.add-to-cart:hover {
    background-color: #00796b;
}

@media screen and (max-width: 768px) {
    #products {
        flex-direction: column;
        align-items: center;
    }
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .filter-bar select {
        width: 100%;
        max-width: 300px;
        text-align: center;
    }

    .filter-bar label {
        margin: 0;
    }
}



/* ************************************************/
/* ********Seccion de nosotros********************/
/* ************************************************/

.seccion-nosotros .hero {
    background-color: #34a14b;
    color: #fff;
    text-align: center;
    padding: 20px ;
    margin: 0 auto;
    max-width: 1200px;
}

.seccion-nosotros .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.seccion-nosotros .hero p {
    font-size: 1.2em;
}

.seccion-nosotros .contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.seccion-nosotros .mision-vision {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.seccion-nosotros .columna {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    flex: 1;
    min-width: 300px;
    max-width: 48%;
}

.seccion-nosotros .columna h2 {
    color: #0b0c0e;
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #004aad;
    padding-bottom: 5px;
}

.seccion-nosotros .columna p {
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

.seccion-nosotros .columna ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.seccion-nosotros .columna ul li {
    font-size: 1em;
    line-height: 1.6;
    padding: 5px 0;
}

.seccion-nosotros .lema {
    text-align: center;
    padding: 20px;
    background-color: #34a14b;
    color: #fff;
    border-radius: 8px;
}

.seccion-nosotros .lema h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.seccion-nosotros .lema p {
    font-size: 1.2em;
    font-style: italic;
}

@media (max-width: 768px) {
    .seccion-nosotros .mision-vision {
        flex-direction: column;
        align-items: center;
    }

    .seccion-nosotros .columna {
        max-width: 100%;
    }
}





/* Sección de blog */
.blog {
    
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-sizing: border-box;
}
.section-header {
    text-align: center;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 15px;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}


@media (max-width: 768px) {
    .card {
        width: 100%;
        max-width: 350px;
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        max-width: 100%;
    }

    .card-content h3 {
        font-size: 1rem;
    }

    .card-content p {
        font-size: 0.9rem;
    }
}






/* ****************************************/
/* ******Sección de ubicación *********/
/* ****************************************/

.content-ubicacion {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.Ubicacion {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.descripcion {
    flex: 1;
    padding: 20px;
}

.descripcion h2 {
    margin-top: 0;
    color: #004aad;
    text-transform: uppercase;
}

.descripcion p {
    color: #666;
    line-height: 1.6;
}

#mapa {
    flex: 1;
    height: 450px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

@media(max-width:768px) {
    .Ubicacion {
        flex-direction: column;
    }

    iframe {
        height: 450px;
    }
}





/* *********************************************/
/* **********Secccion de contacto***************/
/* *********************************************/

.container {
    background: url(../IMG/MIEL.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 90px;
    gap: 20px;
    width: 100%;
}

.box-info {
    color: #dfd3d3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(0, 0, 0, 0.9);
}

.box-info>h1 {
    text-align: center;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.data>p {
    color: white;
    font-size: 1rem;
}

.data>p>i {

    color:rgb(220, 190, 20);
    margin-right: 10px;
    font-size: 25px;
}

.links {
    display: flex;
    gap: 15px;
}

.links>a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    color:rgb(220, 190, 20);
    text-align: center;
    transition: .1s;
}

.links>a>i {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.input-box {
    position: relative;
}

.input-box>input {
    width: 100%;
    height: 40px;
    outline: none;
    background: rgba(0,0,0 , 0.5);
    border: 3px solid transparent;
    letter-spacing: 1px;
    transition: .3s;


}

.input-box>input::placeholder,
.input-box>textarea::placeholder {
    color:#fff;
    font-weight: bold;

}



.input-box>input:focus,
.input-box>textarea:focus {
    border-bottom:3px solid rgb(220, 190, 20);
    animation: shake .2s;
}

.input-box>textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    border: 3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition: .3s;
    color: #fff;
    letter-spacing: 1.5px;
}


.input-box>i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: rgba(255 255 255 / .3);
    transition: .3s;
}

.input-box>input:focus~i {
    border-bottom:3px solid rgb(220, 190, 20);
}

form>button {
    width: 60%;
    padding: 10px;
    outline: none;
    background: crimson;
    color: #fff;
    border: none;
    transition: .1s;
    cursor: pointer;
    margin: 0 auto;
    font-size: 1rem;
}

form>button:hover,
.links>a:hover {
    background: rgb(172, 16, 47);
}

@keyframes shake {

    0%,100% {
        transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        transform: translateX(10px);
    }
}


@media screen and (max-width:768px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        text-align: center;
    }

    .box-info,
    form {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }

    .box-info>h1 {
        font-size: 1.2rem;
    }

    form>button {
        font-size: 1rem;
        width: 60%;
        max-width: 300px;
        margin: 0 auto;
        padding: 10px 15px;
        border-radius: 5px;
    }
}







/********************************************************/
/*                         Footer                      */
/********************************************************/
.footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 15px;

}

.footer-logo,
.footer-container {
    border-bottom: #534d4d 2px solid;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer-container {
    display: flex;
    gap: 8rem;
}

.footer-container ul li {
    list-style: none;
    line-height: 1.5;
}

.footer-section-visita li {
    display: flex;
    align-items: center;
}

.footer-section-visita img {
    margin-right: 8px;
    height: 18px;
}

footer a {
    text-decoration: none;
    color: #7d7a8a;
}

.footer-container a:hover {
    color: #1e39cf;
    background-color: rgba(32, 32, 31, 0.7);
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    background-color: #000;
    color: #fff;
}

.footer-bottom .social-icons {
    margin-top: 0.5rem;
}

.footer-bottom .social-icons a {
    margin: 0 10px;
    /* Espaciado entre íconos */
    color: #fff;
    font-size: 1.5rem;

}

.footer-bottom .social-icons a:hover {
    color: #f1c40f;

}


/****************************************************/
/*    Estilos para pantallas pequeñas               */
/****************************************************/

@media (max-width: 768px) {
    header{
        background-color: #34a14b;
    }

    /* Header */
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: rgba(47, 54, 47, 0.7);
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        z-index: 100;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        padding: 15px;
    }

    .nav-links li a {
        color: white;
    }

    .hamburger {
        display: block;
    }

    /* Footer */
    .footer-logo {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .footer-section-visita li {
        justify-content: center;
    }

    .footer-section-explorar,
    .footer-section-visita {
        width: 100%;
    }
}