body {
    font-family: sans-serif;
    background-color: #C6AE9C;
}
main{
    padding-top: 80px;
}

#filters {
    
    width: 180px;
    height: 150px;
    float: left;
    padding: 30px;
    margin: 10px;
    background-color: #DBCFBF;
    font-family: Jomolhari;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#products {
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #EADBD0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    font-family: Jomolhari;
    border-radius: 15px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.product h3, .product p {
    margin: 5px 0;
}

.price-buy-container {
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 25px;
    background-color: #F4E4D6;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.price-buy-container p {
    margin: 0;
    font-weight: bold;
    color: #333;
    flex-grow: 1;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px; /* Bordes redondeados del botón */
    background-color: #7D4849; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    text-transform: uppercase; /* Texto en mayúsculas */
    cursor: pointer;
    font-family: Jomolhari;
    transition: background 0.3s ease; /* Transición suave del color de fondo */
}

button:hover {
    background-color: #E68A00; /* Color de fondo al pasar el mouse */
}